.card{
  width: 230px;
  height: 180px;
  display: block;
}

.imagem{
  max-width: 130px;
  max-height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.grid{
  content: center;
}

.botao{
    display: block;
    margin-left: auto;
    margin-right: auto;
}