.card{
  width: 230px;
  height: 300px;
  justify-items: center;
}

.imagem{
  max-width: 130px;
  max-height: 130px;
}

.grid{
  content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}