<ion-header>
  <ion-toolbar> 
    <ion-title>Primeiro Andar</ion-title> 
  </ion-toolbar> 
</ion-header>

<ion-grid class="grid">
  <ion-row>
    <ion-column>
      <ion-card class="card">
        <img class="imagem" src="https://riopreto.dlnews.com.br/imagens_noticias/img_409032020154453.jpg">
        <br>
        <ion-button >Secretaria</ion-button>
      </ion-card>
    </ion-column>
    <ion-column>
      <ion-card class="card">
        <img class="imagem" src="https://riopreto.dlnews.com.br/imagens_noticias/img_409032020154453.jpg">
        <br>
        <ion-button>Tesouraria</ion-button>
      </ion-card>
    </ion-column>
  </ion-row>
</ion-grid>


