<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="filhos-centralizados">
      Reportes em Andamento
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let item of report">
        <ion-item>
          <ion-label>{{ item.description }}  </ion-label>
          <img style= "width: 270px; height:180px;" src="{{item.image}}">
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="editarProduto(item.id)">Edit</ion-item-option>
          <ion-item-option color="danger" (click)="unread(item)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
