<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="filhos-centralizados">
      Reporte um novo problema a ser resolvido !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card class="flex-centralizado-verticalmente" style="margin: 0 auto; ">
  <ion-label>Qual andar você deseja informar o problema ?</ion-label> 
<br>
  <ion-button>1º Andar</ion-button>
<br>
  <ion-button>2º Andar</ion-button>
<br>
</ion-card>
</ion-content>
