<ion-header>
  <ion-toolbar>
    <ion-title class="filhos-centralizados">
      Formulario de Reporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="top:25%;">
  <form [formGroup]="formulario">
    <ion-card >
      <br>
      <ion-label style="font-size:x-large; margin-left: 9px;">Qual o problema e ser relatado?</ion-label>
      <br>
      <ion-textarea formControlName="description" placeholder="Insira as informações do problema relatado..."></ion-textarea>
    </ion-card>

    <ion-card>
      <ion-label style="font-size:x-large; margin-left: 9px;">Selecione uma foto do problema</ion-label>
      <ion-input formControlName="image" type="file" aceept accept="image/*"></ion-input>
    </ion-card>
    <br>
    <ion-button (click)="salvarReports()" [disabled]="formulario.invalid" style="font-size:large; margin-left: 40%;"  type="submit">Enviar</ion-button>
  </form>
</ion-content>
